flow topsus.txt
[{"id":"74d8d6d.9b2f7a8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"834bf605.7ca2c8","type":"mqtt out","z":"74d8d6d.9b2f7a8","name":"","topic":"esp8266/output","qos":"","retain":"","broker":"33df5512.1cc07a","x":500,"y":80,"wires":[]},{"id":"f91ae94b.407e5","type":"ui_switch","z":"74d8d6d.9b2f7a8","name":"","label":"Output","tooltip":"","group":"bb8cd07d.dfc6f","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":250,"y":80,"wires":[["834bf605.7ca2c8"]]},{"id":"9f79bb30.12eda8","type":"mqtt in","z":"74d8d6d.9b2f7a8","name":"","topic":"esp8266/motion","qos":"2","datatype":"auto","broker":"33df5512.1cc07a","x":280,"y":160,"wires":[["8d8fcfb.79586b"]]},{"id":"8d8fcfb.79586b","type":"ui_text","z":"74d8d6d.9b2f7a8","group":"bb8cd07d.dfc6f","order":0,"width":0,"height":0,"name":"","label":"PIR Status:","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":160,"wires":[]},{"id":"33df5512.1cc07a","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bb8cd07d.dfc6f","type":"ui_group","z":"","name":"Main","tab":"a40f02.49ab39","disp":true,"width":"6","collapse":false},{"id":"a40f02.49ab39","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard"}]